@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sidebar {
  background-color: #eee;
  width: 300px;
  height: 100%;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
}

.sidebar__name {
  font-size: 14px;
  word-break: break-word;
}

.addresses {
  border: 1px solid #eee;
  border-width: 0 1px 1px;
  margin: 0 auto;
}

.address {
  margin: 0;
}

.address:not(:first-child) {
  border-top: 1px solid #eee;
}

.address__link {
  color: inherit;
  padding: 20px;
  display: block;
  text-decoration: none;
  position: relative;
}

.address__message-count {
  background: #eee;
  position: absolute;
  border-radius: 50%;
  font-size: 15px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  right: 20px;
  top: calc(50% - 20px);
}

.messages {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-y: auto;
  margin-left: 300px;
}

.message {
  margin: 0;
  border-bottom: 1px solid #eee;
}

.message__link {
  color: inherit;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.message__subject {
  font-size: 16px;
  margin: 0;
}

.message__from {
  opacity: .6;
  font-size: 14px;
  margin: 0;
}

.message__meta {
  margin-left: auto;
}

message__date {
  font-size: 14px;
}

.message-view {
  border: 1px solid #eeeeee69;
  padding: 20px;
  margin: 20px;
}

